body {
  background-color: #333;
  background: linear-gradient(to right, #f1b82d 1%,#333 0%);
  color: #fff;
  font-family: 'Yantramanav', sans-serif;
}

.nav {
  position: sticky;
  background-color: #111;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.lock-up {
  display: flex;
  justify-content: space-between;
  width: 100px;
}

div.lock-up > img {
  height: 100%;
  margin: 0 15px 0 15px;
  filter: invert(1);
}

a > h4 {
  font-family: 'Merriweather', serif;
  margin-top: 15%;
}

.nav-buttons-align {
  margin: auto 15px auto 15px;
  padding: 20px;
}

.nav-button, .nav-button:visited, .nav-button:active {
  margin: 5px;
  padding: 2px 20px 0 0;
  border-top: 2px solid #fff;
  color: #999;
  text-transform: uppercase;
}

.nav-button:hover {
  border-top: 2px solid #f1b82d;
  color: #ccc;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #111;
  text-align: center;
}

ul {
  margin: 2px;
}

li {
  display: inline;
  list-style: none;
  padding: 0 5px 0 5px;
  font-size: 13px;
  margin: 5px;
}

a, a:visited, a:active {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #f1b82d;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
